<div class="profile-tabs">
   <div class="nav-align-center">
      <ul class="nav nav-pills nav-pills-primary" role="tablist">
         <li class="active">
            <a href="#tidy" role="tab" data-toggle="tab">
            <i class="fa fa-bath"></i>
            Tidy
            </a>
         </li>
         <li>
            <a href="#visualize" role="tab" data-toggle="tab">
            <i class="fa fa-line-chart"></i>
            Visualize
            </a>
         </li>
         <li>
            <a href="#model" role="tab" data-toggle="tab">
            <i class="fa fa-gears"></i>
            Model
            </a>
         </li>
         <li>
            <a href="#communicate" role="tab" data-toggle="tab">
            <i class="fa fa-comments"></i>
            Communicate
            </a>
         </li>
      </ul>
      <img width="100%" src="{{"/sources/img/workflow/datascience_workflow.png" | relURL }}">  
      <div class="tab-content gallery">
         <div class="tab-pane text-center active" id="tidy">
            <div class="row">
               <div class="col-md-12" align='left'>
                  <h3><strong>Topics:</strong></h3>
                  <ul>
                    <li>Tidyverse</li>
                    <li>Importing, cleaning/tidying data</li>
                    <li>Long → wide, wide → long format</li>
                    <li>Subsetting</li>
                    <li>Creating and transforming variables</li>
                    <li>Preparing data for visualization and analysis</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="tab-pane text-center" id="visualize">
            <div class="row">
               <div class="col-md-12" align='left'>
                  <h3><strong>Topics</strong>:</h3>
                  <ul>
                    <li>Grammar of graphics</li>
                    <li>ggplot2</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="tab-pane text-center" id="model">
            <div class="row">
               <div class="col-md-12" align='left'>
                  <h3><strong>Topics</strong>:</h3>
                  <ul>
                    <li>Multiple regression and correlation</li>
                    <li>The linear model</li>
                    <li>The generalized linear model</li>
                    <li>Model assessment</li>
                    <li>Model specification</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="tab-pane text-center" id="communicate">
            <div class="row">
               <div class="col-md-12" align='left'>
                  <h3><strong>Topics</strong>:</h3>
                  <ul>
                    <li>RMarkdown</li>
                    <li>knitr</li>
                    <li>papaja</li>
                    <li>xaringan</li>
                    <li>git</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- End Profile Tabs -->
