<div class="row">
<div class="col-md-10 col-md-offset-1">

<table class="table table-striped" align="text-center">
<tr>
<th align="center" style="width:15%">Date</th>
<th align="center" style="width:55%">Lesson</th>
<th align="center" style="width:10%">Reading</th>
<th align="center" style="width:10%">Slides</th>
<th align="center" style="width:10%">PA</th>
</tr>

{{ range $.Site.Data.lessons }}
{{range . }}

<tr>
<td align="center">{{ .date }}</td>
<td align="left">{{ .title | safeHTML }}</td>


{{ if .reading }}
<td align="center"><a href="{{ .Site.baseurl }}/reading/{{ .reading }}">
<i class="fa fa-book fa-lg"></i></a></td>
{{ else }}
<td align="center"><font color="f1f1f1">
<i class="fa fa-book fa-lg"></i></font></td>
{{ end }}

{{ if .slides }}
<td align="center"><a href="{{ .Site.baseurl }}/slides/{{ .slides }}">
<i class="fa fa-file-image-o  fa-lg"></i></a></td>
{{ else }}
<td align="center"><font color="f1f1f1">
<i class="fa fa-file-image-o  fa-lg"></i></font></td>
{{ end }}

{{ if .assignments }}
<td align="center"><a href="{{ .Site.baseurl }}/assignments/{{ .assignments }}">
<i class="fa fa-keyboard-o fa-lg"></i></a></td>
{{ else }}
<td align="center"><font color="f1f1f1">
<i class="fa fa-keyboard-o fa-lg"></i></font></td>
{{ end }}



</tr>
{{ end }}
{{ end }}

</table>


<p>Printable versions: <a href="https://www.jvcasillas.com/syllabi/589/index.pdf">syllabus</a> | <a href="https://www.jvcasillas.com/syllabi/589/refs/readings/589_reading_list.pdf">readings</a>
</p>
<p>Tutorials <a href="https://ds4ling.github.io/sources/tuts/index.html">here</a>
</p>
<p>Online presentation info <a href="https://ds4ling.github.io/assignments/06_online_presentation/index.html">here</a>
</p>
<p>PA 5 example <a href="https://github.com/ds4ling/programming_assignments/blob/master/misc/data/pa_5_answers.zip?raw=true">here</a>
</p>



</div>
</div>
